@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(221, 100%, 96%);
    line-height: 1.6;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.1);
}

.result {
    background-image: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    flex: 1;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: -1rem;
    padding-bottom: 1rem;
    z-index: 1;
}

.summary {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 0.8rem;
}

.result .result-header {
    font-weight: 400;
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.616);
    text-align: center;
    padding-top: 1rem;
    justify-self: start;
}

.score-circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: calc(150rem/16);
    height: 150px;
    border-radius: 50%;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.score-circle .score-number  h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.score-circle .score-out-of {
    font-size: .7rem;
    color: hsl(221, 100%, 96%);
    margin-top: -5px;
}

.result .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
}

.result h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.result p {
    color: hsla(0, 0%, 100%, 0.555);
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0 2rem;
    padding-bottom: 2.3rem;
}


.summary .summary-header {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    align-self: start;
    justify-self: start;
    padding-left: 2rem;
    color:  hsl(224, 30%, 27%);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.details li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.8rem 0;
    padding: 0.5rem 1.3rem;
    border-radius: 25px;
    background-color:  hsla(241, 100%, 89%, 0.1);
    white-space: nowrap;
}


.details li img {
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
}

.details li p {
    flex: 1;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.details li p span {
    font-weight: 700;
    color:  hsl(224, 30%, 27%);
    margin-left: 3rem;
    display: flex;
}

.details li p .dif {
    font-weight: 400;
    color: hsl(224, 30%, 67%);
    margin-left: 5px;
}

.details .reaction {
    background-color: hsl(0, 100%, 67%, 0.1);
}

.details .reaction p {
   color:  hsl(0, 100%, 67%);
}

.details .memory {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.details .memory p {
    color: hsl(39, 100%, 56%);
}

.details .verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.details .verbal p {
    color: hsl(166, 100%, 37%);
}

.details .visual {
    background-color: hsl(234, 85%, 45%, 0.1);
}

.details .visual p {
    color: hsl(234, 85%, 45%);
}
button {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

/* hover effect */
button:hover::before {
    opacity: 1;
}
.continue-btn span {
    position: relative;
    z-index: 1;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        padding-bottom: 0.2rem;
    }

    .result, .summary {
        margin: 0;
        border-radius: 0 0 15px 15px;
    }

    .result {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .summary {
        margin-left: 0;
        margin-top: -2.2rem;
    }

        
    .summary .summary-header {
        padding-top: 2.5rem;
        padding-left: 1rem;
    }

    .details li p span {
        margin-left: auto;
    }

    
}
